/* Set the font for the entire page */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url('https://www.colliers.com/-/media/images/colliers/asia/philippines/colliers-review/collierreview_hero_image_01312022_v2/hero_image_tondominium/hero_image_021522/hero_image_colliersviewpoint_022222.ashx?bid=0f5b3ed2a8de41f89e1a8d557e48f9f8&h=1040&w=1536&hash=B1EE7AA0741E30D99A7D27751C52A494'); 
  background-size: cover; /* Adjust the background image size as needed */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Make the textarea background transparent and style it */
textarea {
  background: rgba(255, 255, 255, 0.5); /* Transparent white background */
  border: none;
  resize: none;
  color: #090808;
  border-left: 1px solid black;
  padding: 10px;
}
.display-3 {
  color: beige;
}
/* Allow line breaks in the description */
.description {
  white-space: pre-wrap;
}

/* Add rounded corners to the time-block divs */
.time-block {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
  margin: 10px; /* Add some spacing between time blocks */
  padding: 10px;
}

/* Style the row and hour elements */
.row {
  border-top: 1px solid white; /* Separator line */
}

.hour {
  background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 5px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners for the hour element */
}

/* Apply colors for past, present, and future time blocks */
.past {
  background-color: gray; /* Gray for past time blocks */
  color: white;
}

.present {
  background-color: red; /* Red for present time blocks */
  color: white;
}

.future {
  background-color: green; /* Green for future time blocks */
  color: white;
}

/* Style the save button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding: 5px 10px; /* Adjust padding as needed */
  cursor: pointer; /* Change cursor to indicate it's clickable */
}

/* Add hover effect for the save button icon */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}


.lead {
  color: beige;
}
.currentDay {
  color: beige;
}